
body {
    font-family: Arial, sans-serif;
    margin: 30px;
    background-color: #f2f2f2;
    color: #333;
}
 h1{
    margin-bottom: 20px;
    }

h2, h3 {
    color: #2c3e50;
}
 table {
            width: 100%;
            border-collapse: collapse;
            background-color: white;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #007bff;
            color: white;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
.logout {
            float: right;
            font-size: 0.9rem;
            margin-top: -40px;
        }
.about {
            float: right;
            font-size: 0.9rem;
            margin-top: -60px;
        }
.flash-message {
            background-color: #d4edda;
            color: #155724;
            padding: 10px;
            border-radius: 4px;
            margin-bottom: 15px;
            border: 1px solid #c3e6cb;
            max-width: 500px;
        }
form {
    margin-bottom: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, select, button {
    display: block;
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    box-sizing: border-box;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: white;
    margin: 8px 0;
    padding: 10px;
    border-radius: 5px;
}

a {
    color: #2980b9;
    text-decoration: none;
    margin-left: 10px;
}

a:hover {
    text-decoration: underline;
}

.flash {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}
